body{
    background-color: rgba(0, 0, 0, 0.852);
	overflow: auto;
}
h1{
    color: white;
}
* {
	margin: 0;
	padding: 0;
}


/* formulario */
.containerForm{
	margin:10%  ;
}
.containerForm .formulario{
	text-align: center;
}
.containerForm .formulario .btn{
	margin-top: 5%;
}
.containerForm .formulario .textarea{
	margin-top: 3%;
	color: black;
}
.containerForm .buttons{
	display: flex;
	align-items: center;
	justify-content:space-evenly;
}


/* presentacion */
.containerPresentacion{
	color: aliceblue;
	padding: 5% 5% 0;
}

.msjGit{

	position: absolute;
}
.containerPresentacion .git{
	width: 40px;
	margin-bottom: 5%;
	left: 50%;
	
}
.presentacionTech{
	margin-top: 5%;
	display: flex;
	justify-content: space-evenly;
}

.presentacionTech img {
	width: 50px;
}
.containerPresentacion h2{
	text-align: center;
}


