body{
    background-color: rgba(0, 0, 0, 0.852);
	overflow: auto;
}
h1{
    color: white;
}
* {
	margin: 0;
	padding: 0;
}

.text{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	font-family: monospace;
}
/* formulario */
.containerForm{
	margin:10%  ;
}
.containerForm .formulario{
	text-align: center;
}
.containerForm .formulario .btn{
	margin-top: 5%;
}
.containerForm .formulario .textarea{
	margin-top: 3%;
	color: black;
}
.containerForm .buttons{
	display: flex;
	align-items: center;
	justify-content:space-evenly;
}

.btnStart{
	background-color: white;
}
/* presentacion */
.containerPresentacion{
	color: aliceblue;
	padding: 5% 5% 0;
}

.msjGit{

	position: absolute;
}
.containerPresentacion .git{
	width: 40px;
	margin-bottom: 5%;
	left: 50%;
	
}


/* btn mode  */
.mode{
	display: flex;
	gap: .5rem;
	justify-content: flex-end;
	margin-bottom: 1rem;
}
.containerMode{
	display: flex;
}
.containerMenu{
	display: flex;
}