.perfil{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transition: .2s;
    filter: grayscale(100%);
}
.perfil:hover{
    cursor: pointer;
    filter: grayscale(10%);
}
.conLink{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.conLink img{
    width: 40px;
    transition: .1s;
}
.conLink img:hover{
    cursor: pointer;
    scale: 1.1;
}
.imgMenu{
    width: 30px;
}
.imgMenu:hover{
    cursor: pointer;
}

#navbar-brand{
    margin: auto;
}
.link{
    color: gray;
    text-decoration: none;

}
.imagenProfile{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
 .navbar-nav{
    display: flex ;
    align-items: center;
}
a .wsp{
	width: 50px;
	transition: .5s;
	top: 17%;
	right: 14%;
}
.wspHover{
    position: absolute;
    top:10% ;
}

 a .wsp:hover{
	transform: scale(1.07);
}

.dropTitle{
    display: flex;
    justify-content: space-around;
}

.navbar-nav .dropdown-menu{
    position: absolute;
}
.navbar-toggler{
    background: whitesmoke;
    
    border: none;
}

.navbar-toggler:active{
    animation: rotar .1s forwards;
    
}
.card{
    background: transparent;
    border: none;
}
/* cards */


.moreInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ulTech{
    display: flex;
}
.ulTech li img{
    width: 30px;
}

/* send */

.imgSend{
    position: absolute;
    width: 70px;
    margin-top:10% ;
    animation-delay: .2s;
    animation-name: showSend;
    animation-duration: .3s;
    /* animation: forwards; */
    
}
/* footer */

.footer{ 
    margin: 11% 2%;
    padding: 1.5rem;
}
@keyframes showSend{
    from{
        scale: 2.2  ;
        rotate: 0deg;
    }
    to{
        rotate:360deg ;
        
    }
}


@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(10deg);
        transform: rotateZ(50deg);
    }
}