.perfil{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transition: .2s;
    filter: grayscale(100%);
}
.perfil:hover{
    cursor: pointer;
    filter: grayscale(10%);
}
.closeBtn{
    width: 20px;
    margin-right:2%;
    background-color: rgb(246, 107, 107);
    padding: 5px;
}
.closeBtn:hover{
    cursor: pointer;

}
.conLink{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.conLink img{
    width: 40px;
    transition: .1s;
}
.conLink img:hover{
    cursor: pointer;
    scale: 1.1;
}
.imgMenu{
    width: 30px;
}
.imgMenu:hover{
    cursor: pointer;
}

#navbar-brand{
    margin: auto;
}
.link{
    color: gray;
    text-decoration: none;

}
.imagenProfile{
    margin-top: 2%;
}
 .navbar-nav{
    display: flex ;
    align-items: center;
}
.menuNavbar{
    border: none;
    background-color: white;
}
.menuNavbar{
    background: transparent;
    border: none;
    outline: none;
}
.dropTitle{
    display: flex;
    justify-content: space-around;
}

.navbar-nav .dropdown-menu{
    position: absolute;
}
.navbar-toggler-icon{

    background-position: 80;
    background-image: url('./imgs/js.png');
    background-size: cover;
}
.navbar-toggler-icon:active{
    animation: rotar .4s infinite;
    
}
.card{
    background: transparent;
    border: none;
}
/* cards */


.moreInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ulTech{
    display: flex;
}
.ulTech li img{
    width: 30px;
}

/* send */

.imgSend{
    position: absolute;
    width: 70px;
    margin-top:10% ;
    animation-delay: .2s;
    animation-name: showSend;
    animation-duration: .3s;
    /* animation: forwards; */
    
}
@keyframes showSend{
    from{
        scale: 2.2  ;
        rotate: 0deg;
    }
    to{
        rotate:360deg ;
        
    }
}


@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(30deg);
        
    }
}