.cardProyectos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin: 5%;
}
.cardProyectos .imgCard{
    width: 300px; 
    transition: .3s;
}
.cardProyectos .imgCard:hover{
    scale: 1.1;
    filter: grayscale(0);
    cursor: pointer;
}
/* menuDrop */
.dropdown-menu{
    background: transparent;
    border: none;
}
.dropdown-menu a{
    color: white;
}


/* info */
.tecnoligias{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
}
.tecnoligias .divSubtitle{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.tecnoligias h3{
    color: white;
}

.tecnoligias .close{
    background-color: rgb(82, 218, 134);
    width: 20px;
    padding: 4px;   
    transition: .2s;
    border-radius: 15px;
    transform: rotate(45deg);
}

.tecnoligias .close:hover{
    cursor: pointer;
    scale: 2.2;
    background-color: rgba(230, 142, 142, 0.888);
    transform: rotate(360deg);
}
.tecnoligias div{
    margin-top:2% ;
    display: flex;
    gap: 1rem;
}
.tecnoligias img{
    width: 40px;
}
.containerInfo{
    position: absolute;
    top: 5%;
    width: 100%;
    z-index: 3;
    background-color: rgba(139, 128, 128, 0.665);
    padding: 2rem;
    
}
.containerInfo h2{
    color: white;
    text-align: center;
}
.containerInfo p {
    text-align: center;
    color: white;
}
.positionCard{
    width: 300px;
    position: relative;
    transition: .4s;    
    animation: animated .3s forwards;


}
.tecnoligias .divEnlaces{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.divEnlaces img{
    transition: .3s;
    filter: grayscale(90%);
}
.divEnlaces img:hover{
    scale: 1.1;
    filter: grayscale(0);
}
/* messeges */

.messegeProfile{
    position: absolute;
    top: 12%;
    left: 10%;
}
.messegeClose{
    position: absolute;
    top: 22%;
    right:40%;
}
.messegeGit{
    position: absolute;
    top: 37%;
    right:70%;
}
.messegeWeb{
    position: absolute;
    top: 37%;
    left: 70%;
}


/* animations */
@keyframes animated
{   
   100%{
    z-index: 2;
    filter: opacity(10%);
    /* filter: blur(10px); */
   }
}